<div class="legend-list" id="legend-list-wrap">
		<ul class="clearfix" id="legend-list-cont">
			<script type="text/template">
			{{#records}}
			<li>
				<div class="img-wrap"><a href="javascript:;" data-code="{{code}}"><img src="{{gifFile}}" alt="{{name}}" width="195" height="278"></a></div>
				<p class="img-desc"><a href="javascript:;" data-code="{{code}}">{{name}}</a></p>
			</li>
			{{/records}}
			</script>
		</ul>
</div>