.part-info-wrap {
	padding: 10px;
}
.part-big-img {
	width: 398px;
	height: 398px;
	border: 1px solid #e3e3e3;
	margin-right: 20px;
	float: left;
}
.part-big-img img {
	border: none;
	width: 398px;
	height: 398px;
}
.part-info {
	width: 520px;
	float: left;
}
.part-info .info-list {
	margin: 10px 0 20px 0;
}
.part-info .info-list li {
	float: left;
	line-height: 30px;
	position: relative;
}
.part-info .info-list .label {
	position: absolute;
	left: 0;
	width: 80px;
	font-weight: bold;
	text-align: right;
}
.part-info .info-list .text {
	display: inline-block;
	width: 175px;
	padding-right: 5px;
	margin-left: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
}
.part-info .info-list .text.longer {
	width: 440px;
}
.part-info-wrap .operation .buy {
	display: inline-block;
	width: 64px;
	height: 24px;
	font-size: 0;
	padding: 11px 58px;
	background-color: #d1251a;
	text-decoration: none;
}
.part-info-wrap .operation .buy .icon {
	width: 22px;
	height: 23px;
	display: inline-block;
	margin-right: 9px;
	vertical-align: middle;
	background-image: url(images/icon_big.png);
}
.part-info-wrap .operation .buy .text {
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
}
.part-info-wrap .operation .disabled {
	background-color: #eff0f1;
	cursor: default;
}
.img-list {
	position: relative;
	width: 260px;
	padding: 0 28px;
	margin-top: 32px;
}
.img-list .arrow-left, .img-list .arrow-right {
	position: absolute;
	top: 13px;
	width: 18px;
	height: 58px;
	background-color: #3e495d;
	background-image: url(images/arrow_icon.png);
	background-repeat: no-repeat;
	display: none;
}
.img-list .arrow-left {
	left: 0;
	background-position: 5px 22px;
}
.img-list .arrow-right {
	right: 0;
	background-position: -13px 22px;
}
.img-list .list-container {
	width: 270px;
	height: 80px;
	overflow: hidden;
	position: relative;
	margin-left: -5px;
}
.img-list .list {
	position: absolute;
	left: 0;
}
.img-list .list li {
	float: left;
	width: 78px;
	height: 78px;
	border: 1px solid #e3e3e3;
	margin: 0 5px;
}
.img-list .list li img {
	width: 76px;
	height: 76px;
	border: 1px solid #fff;
	display: inline-block;
	outline: none;
	cursor: pointer;
}
.img-list .list li:hover, .img-list .list li.checked {
	border: 1px solid #d1251a;
}
.img-list .list li:hover img, .img-list .list li.checked img {
	border: 1px solid #d1251a;
}

.detail-table {
	padding: 10px;
}
.detail-table .page-tab {
	margin-top: 20px;
}
.detail-table .page-tab a:first-child {
	margin-left: 0;
}
.detail-table-item {
	display: none;
}
.detail-table-list .grid {
	padding: 10px 0;
	border-top: none;
}
.detail-table-list .grid td {
	text-align: center;
}