.advanced-search-layer {
	width: 1100px;
	height: 630px;
}

.supersession-search-layer {
	width: 900px;
	height: 450px;
}

.supersession-search-layer .layer-operation {
	padding: 0 0 0 20px;
}

.supersession-search-layer .grid-search {
	margin: 10px 0;
}

.supersession-search-layer .tip-wrap {
	display: inline-block;
	vertical-align: top;
	padding: 5px 0;
}

.kit-detail-layer {
	width: 850px;
}

.notice-search-layer {
	width: 950px;
}

.vin-analysis-layer, .vehicle-code-layer {
	width: 480px;
}

.user-info-layer, .modify-password-layer {
	width: 400px;
}

.advanced-search-layer .data-item, .supersession-search-layer .data-item, .notice-search-layer .data-item, .vin-analysis-layer .vin-analysis-search .data-item, .vehicle-code-layer .vehicle-code-search .data-item {
	display: inline-block;
}

.vin-analysis-layer .vin-analysis-search .data-item.operation, .vehicle-code-layer .vehicle-code-search .data-item.operation {
	padding-left: 10px;
}

.vin-analysis-search-cont, .vehicle-code-search-cont {
	height: 370px;
	border-top: 1px dashed #e7e7e7;
	padding-top: 10px;
	margin-top: 10px;
}

.vin-analysis-layer .input-box, .vehicle-code-search .input-box {
	width: 180px;
}

.vin-analysis-search-cont .data-item, .vin-analysis-search-cont .data-item .label, .vin-analysis-search-cont .data-item .text-block {
	height: 22px;
	line-height: 22px;
	min-height: 22px;
}

.vehicle-code-search-cont .data-item, .vehicle-code-search-cont .data-item .label, .vehicle-code-search-cont .data-item .text-block {
	height: 22px;
	line-height: 22px;
	min-height: 22px;
}

.user-info-layer .data-item, .user-info-layer .data-item .label, .user-info-layer .data-item .text-block {
	height: 22px;
	line-height: 22px;
	min-height: 22px;
}

.modify-password-layer .tip-wrap {
	text-align: center;
	height: 30px;
}
.modify-password-layer .tip {
	margin: 0;
}

.supersession-detail-layer {
	width: 1000px;
	display: none;
}

.supersession-detail-layer .old, .supersession-detail-layer .new {
	width: 480px;
}
.supersession-detail-layer .old{
	float: left;
}
.supersession-detail-layer .new {
	float: right;
}
.supersession-detail-layer .info li {
	float: left;
	width: 240px;
	font-size: 0;
	line-height: 22px;
	*line-height: 30px;
}
.supersession-detail-layer .info li .label {
	display: inline-block;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.supersession-detail-layer .info li .text {
	display: inline-block;
	width: 130px;
	padding: 0 5px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.supersession-detail-layer .mask {
	border-top: 1px dashed #d2d2d2;
	text-align: center;
	margin: 10px 0;
	height: 0;
	line-height: 1px;
}
.supersession-detail-layer .mask .text {
	position: relative;
	margin-top: 0px;
	background-color: #fff;
	padding: 0 10px;
}
.supersession-detail-layer .grid {
	border-top: 0;
}