.main-cont .main-content .secondary-cont:first-child{
	border-top-width: 1px;
}
.data-item.fix {
	clear: both;
}
.data-item.single {
	float: left;
	min-width: 365px;
}
.data-item.single-right {
	float: right;
}
.data-item.long-text .input-box{
	width: 570px;
}
.data-item .text-link {
	margin-right: 38px; 
}
.data-item.middle-text .btn{
	margin-left: 0px;
}
.data-item.middle-text .text-link {
	margin: 0 10px;
}
.data-item.single .form-select-option-list {
	float: left;
	width: 178px;
	overflow: hidden;
}
.reply-cont {
	padding-top: 10px; 
}