.legend-parts-wrap {
	display: none;
	position: absolute;
	left: 248px;
	top: 0;
	right: 0;
	bottom: 0;
}
.group-legend-toggle, .legend-parts-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 20px;
	background-image: url(images/expand_collapse_arrow.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.group-legend-toggle {
	left: 0;
	background-position: 0 center;
}
.group-legend-toggle.collapse {
	background-position: -20px center;
}
.legend-parts-toggle {
	left: 543px;
	background-position: -20px center;
}
.legend-parts-toggle.collapse {
	background-position: 0 center;
}

.legend-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20px;
	width: 523px;
	border: 1px solid #e7e7e7;
}
.legend-container .legend-head {
	height: 28px;
	line-height: 28px;
	background-color: #f1f0f0;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	color: #555555;
	font-weight: bold;
}
.legend-container .legend-body {
	position: absolute;
	top: 29px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.parts {
	position: absolute;
	left: 563px;
	right: 0;
	bottom: 0;
	top: 0;
	border: 1px solid #e7e7e7;
}
.parts .parts-head {
	height: 28px;
	line-height: 28px;
	background-color: #f1f0f0;
	border-bottom: 1px solid #e7e7e7;
	text-align: center;
	color: #555555;
	font-weight: bold;
}
.parts .parts-head ul {
	font-size: 0;
	*width: 100%;
}
.parts .parts-head li {	
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
}
.parts .parts-head li span {
	display: inline-block;
	padding: 0 5px;
}
.parts .parts-body {
	position: absolute;
	top: 29px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
}
.parts .row-number {
	width: 10%;
}
.parts .part-number {
	width: 19%;
}
.parts .part-name {
	width: 28%;
}
.parts .qty {
	width: 10%;
}
.parts .remark {
	width: 15%;
}
.parts .model {
	width: 8%;
}
.parts .operation {
	width: 10%;
}
.parts .parts-body .list-item {
	font-size: 0;
	cursor: pointer;
}
.parts .parts-body .list-item:hover {
	background-color: #e9f1ff;
}
.parts .parts-body .list-item.checked {
	background-color: #e4ecfa;
}
.parts .parts-body .item {
	vertical-align: top;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
}
.parts .parts-body .item-cont-wrap {
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.parts .icon-wrap .icon {
	display: inline-block;
	width: 20px;
	height: 18px;
	background-image: url(images/parts_icon.png);
	background-repeat: no-repeat;
}
.parts .icon.supersession {
	background-position: 0 0;
}
.parts .icon.supersession.active {
	background-position: 0 -20px;
}
.parts .icon.supersession.active:hover {
	background-position: 0 -40px;
}
.parts .icon.note {
	background-position: -20px 0;
}
.parts .icon.note.active {
	background-position: -20px -20px;
}
.parts .icon.note.active:hover {
	background-position: -20px -40px;
}
.parts .icon.image {
	background-position: -40px 0;
}
.parts .icon.image.active {
	background-position: -40px -20px;
}
.parts .icon.image.active:hover {
	background-position: -40px -40px;
}
.parts .icon.price {
	background-position: -60px 0;
}
.parts .icon.price.active {
	background-position: -60px -20px;
}
.parts .icon.price.active:hover {
	background-position: -60px -40px;
}

.parts-body .part-number .number, .parts-body .part-name .name, .parts-body .part-name .date, .parts-body .remark .item-cont-wrap, .parts-body .model .model-first {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.parts .parts-body .operation {
	vertical-align: bottom;
}

.legend-parts-wrap.collapse-group {
	left: 0;
}
.group-legend-toggle.collapse {
	left: 0;
}
.legend-parts-toggle.collapse {
	right: 0;
	left: auto;
}

.legend.collapse-group {
	left: 20px;
	width: 773px;
}
.legend.collapse-parts {
	right: 20px;
	width: auto;
}
.legend.collapse-group.collapse-parts {
	left: 20px;
	right: 20px;
	width: auto;
}