<div class="paging clearfix" id="question-search-paging">
	<div class="page-info">
		<span class="records">共<span data-id="recordCount"></span>条记录</span>
		<span class="slash">/</span>
		<span class="page-count">共<span data-id="pageCount"></span>页</span>
		<span class="current">（当前第<span data-id="curPageView"></span>页）</span>
	</div>
	<div class="pagination" data-id="btns">
	    <a data-id="top" class="page-ctrl-btn top" href="javascript:void(0);"></a>
	    <a data-id="prev" class="page-ctrl-btn prev" href="javascript:void(0);"></a>
	    <a data-id="" class="text-link" href="javascript:void(0);"></a>
	    <span class="page-btns" data-id="pageBtns">
	    </span>
	    <a data-id="next" class="page-ctrl-btn next" href="javascript:void(0);"></a>
	    <a data-id="bottom" class="page-ctrl-btn bottom" href="javascript:void(0);"></a>
	    <input data-id="curPage" class="input-box page-input" type="text">
	    <a data-id="go" class="btn goto-btn" href="javascript:;">跳转</a>
	</div>
</div>