<div class="layer question-close-layer" id="question-close-dialog">
	<div class="layer-title">
		<span class="page-title"><span class="text">关闭问题</span></span>
		<a class="layer-close-btn" href="javascript:;"></a>
	</div>
	<div class="layer-cont-wrapper">
		<form class="question-comment-form">
			<input type="hidden" id="question-code" value="">
			<div class="data-item" data-name="question-number">
                <span class="label"><span class="text">问题编码：</span></span>
                <span class="text-block">549684654</span>
            </div>
			<div class="data-item" data-name="question-status">
                <span class="label"><span class="text">问题状态：</span></span>
                <span class="text-block">已回复</span>
            </div>
            <div class="data-item" data-name="question-subject">
                <span class="label"><span class="text">问题主题：</span></span>
                <span class="text-block">已回复</span>
            </div>
          	<div class="data-item required" id="service-quality-wrap">
            	<span class="label"><span class="text">服务质量：</span></span>
            	<span class="form-select">
              	<input type="hidden" class="form-select-input" autocomplete="off" name="quality" data-name="quality" data-null="false" value="">
              	<a class="form-select-switch-btn" href="javascript:;"><span class="form-select-text" title="">请选择</span></a>
                <ul id="service-quality" class="form-select-option-list" style="display: none;">
                  	<script id="service-quality-template" type="text/template">
                  		{{#qulityList}}
                    		<li class="form-select-option" data-value="{{code}}" title="{{name}}">{{name}}</li>
                  		{{/qulityList}}
                  	</script>
                </ul>
            	</span>                    
          	</div>
          	<div class="data-item">
            	<span class="label">
              		<span class="text" title="维修站编码">服务质量评语：</span>
            	</span>
            	<textarea class="textarea-box small" name="qualityComment" ></textarea>
          	</div>
          	<div class="data-item">
          		<span class="label">
              		<span class="text" title="维修站编码"></span>
            	</span>
            	<a href="javascript:;" class="btn"  data-action="close-question">关闭问题</a>
            	<a href="javascript:;" class="btn secondary"  data-action="cancel">取消</a>
          	</div>
		</form>
	</div>
</div>