<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <title><%= pageTitle %></title>

  <link rel="stylesheet" type="text/css" media="all" href="/resources/ext-theme-gray/ext-theme-gray-all.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/styles/all.css" />
  <link rel="stylesheet" type="text/css" media="all" href="/styles/icon.css" />

  <script type="text/javascript" src="/scripts/extjs/bootstrap.js"></script>
  <script type="text/javascript" src="/scripts/extjs/ext-lang-zh_CN.js"></script>

  <% include ../config/globalConfig.ejs %>
  <% include ../config/extjsConfig.ejs %>

  <script type="text/javascript" src="/scripts/app/app.js"></script>
</head>
<body>