	<div class="layer modify-password-layer" id="modify-password-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">修改密码</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div class="tip-wrap" style="">
				<span class="tips error hide" id="tip">
					<span class="icon"></span>
					<span class="text"></span>
				</span>
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">旧密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="旧密码" data-reg="[0-9]{6,18}" data-message="请输入6-18位的旧密码" class="input-box" id="old-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">新密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="新密码" data-reg="[0-9]{6,18}" data-message="请输入6-18位的新密码" class="input-box" id="new-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text">确认密码：</span>
				</span>
				<input type="password" maxLength="18" data-label="确认密码" class="input-box" id="confirm-password">		
			</div>
			<div class="data-item">
				<span class="label">
					<span class="text"></span>
				</span>
				<span class="text-block">
					<span class="tip">
						<span class="text">密码为6-18位,可以使用字母或数字</span>
					</span>
				</span>
			</div>
			<div class="layer-operation">
				<a class="btn" id="password-submit" href="javascript:;">确认修改</a>
				<a class="btn secondary" id="password-cancel" href="javascript:;">取消</a>
			</div>
		</div>
	</div>