	<div class="layer notice-search-layer" id="notice-search-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">通知</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div id="notice-search-query">
				<div class="grid-search clearfix">
					<div class="data-item">
						<span class="label">
							<span data-name="" title="通知编码" class="text">通知编码：</span>
						</span>
						<input type="text" class="input-box">		
					</div>
					<div class="data-item">
						<span class="label">
							<span data-name="" title="通知主题" class="text">通知主题：</span>
						</span>
						<input type="text" class="input-box">		
					</div>
					<div class="data-item">
						<span class="label">
							<span data-name="" title="通知类型" class="text">通知类型：</span>
						</span>
						<input type="text" class="input-box">		
					</div>
					<div class="data-item">
						<span class="label">
							<span data-name="" title="是否已读" class="text">是否阅读：</span>
						</span>
						<input type="text" class="input-box">		
					</div>
					<div class="data-item">
						<span class="label">
							<span data-name="" title="发布时间" class="text">发布时间：</span>
						</span>
						<input type="text" class="input-box">		
					</div>
				</div>
				<div class="layer-operation">
					<a class="btn" href="javascript:;" data-id="search">查询</a>
					<a class="btn" href="javascript:;" data-id="reset">重置</a>
				</div>
			</div>
			<div class="grid" id="notice-search-grid" data-urls='{"read":"/noticeSearch"}'>
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>通知编码</th>
							<th>通知主题</th>
							<th>通知类型</th>
							<th>是否已读</th>
							<th>发布时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<script type="text/template">
						{{#list}}
							<tr>
								<td>{{rowNumber}}</td>
								<td>{{partNo}}</td>
								<td>{{partName}}</td>
								<td>{{qty}}</td>
								<td>{{startDate}}</td>
								<td>{{endDate}}</td>
								<td>{{remark}}</td>
							</tr>
						{{/list}}
						</script>
					</tbody>
				</table>
			</div>

			<div class="paging clearfix" id="notice-search-paging">
				<div class="page-info">
					<span class="records">共<span>33</span>条记录</span>
					<span class="slash">/</span>
					<span class="page-count">共<span>4</span>页</span>
					<span class="current">（当前第<span>1</span>页）</span>
				</div>
				<div class="pagination" id="notice-search-paging">
				    <a class="page-ctrl-btn top" href="javascript:void(0);"></a>
				    <a class="page-ctrl-btn prev" href="javascript:void(0);"></a>
				    <a class="text-link" href="javascript:void(0);"></a>				    
				    <span class="ellipsis">...</span>
				    <a class="page-ctrl-btn next" href="javascript:void(0);"></a>
				    <a class="page-ctrl-btn bottom" href="javascript:void(0);"></a>
				    <input class="input-box page-input" type="text">
				    <a class="btn goto-btn" href="javascript:;">跳转</a>
				</div>
			</div>
		</div>
	</div>