	<div class="layer supersession-search-layer" id="supersession-search-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">替换搜索</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div>
				<div class="grid-search clearfix" data-id="query">
					<div class="data-item">
						<span class="label">
							<span title="品牌" class="text">配件件号：</span>
						</span>
						<input data-name="partNo" type="text" class="input-box">		
					</div>	
					<div class="data-item">
						<div class="layer-operation">
							<a class="btn" href="javascript:;" data-id="search">查询</a>
							<a class="btn" href="javascript:;" data-id="reset">重置</a>
						</div>
					</div>
					<div class="tip-wrap">
						<span class="tips error hide"><span class="icon"></span>请输入配件件号</span>
					</div>
				</div>
			</div>
			<div class="grid">
				<table>
					<thead>
						<tr>
							<th>序号</th>
							<th>旧件号/旧替换组编码</th>
							<th>旧件名称/旧替换组描述</th>
							<th>新件号/新替换组描述</th>
							<th>新件名称/新替换组描述</th>
							<th>是否替换组</th>
							<th>替换类型</th>
							<th>断点时间</th>
							<th>断点信息</th>
							<th>备注</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody data-id="grid-result">
						<script type="text/template">
						{{#list}}
							<tr>
								<td>{{rowNumber}}</td>
								<td>{{oldCode}}</td>
								<td>{{oldDesc}}</td>
								<td>{{newCode}}</td>
								<td>{{newDesc}}</td>
								<td>{{#group}}是{{/group}}{{^group}}否{{/group}}</td>
								<td>{{substituteType}}</td>
								<td>{{replaceTime}}</td>
								<td>{{breakPointNote}}</td>
								<td>{{note}}</td>
								<td>
									{{#group}}<a class="text-link" data-action="supersession-detail" data-code="{{code}}" href="javascript:;">详情</a>{{/group}}
								</td>
							</tr>
						{{/list}}
						</script>
					</tbody>
				</table>
			</div>
		</div>
	</div>