<div class="layer supersession-detail-layer" id="supersession-detail-dialog">
	<div class="layer-title">
		<span class="page-title"><span class="text">替换组详情-<span data-id="supersession-number"></span></span></span>
		<a class="layer-close-btn" href="javascript:;"></a>
	</div>
	<div class="layer-cont-wrapper clearfix" id="supersession-detail-dialog-cont">

		<script type="text/template">
			{{#record}}
				<div class="old">
					<div class="info">
						<ul class="clearfix">
							<li><span class="label">旧替换组编码：</span><span class="text">{{oldCode}}</span></li>
							<li><span class="label">旧替换组描述：</span><span class="text">{{oldDesc}}</span></li>
							<li><span class="label">替换时间：</span><span class="text">{{replaceTime}}</span></li>
							<li><span class="label">替换类型：</span><span class="text">{{substituteType}}</span></li>
						</ul>
					</div>
					<div class="mask"><span class="text">旧件配件信息</span></div>
					<div class="gird-wrap">
						<div class="grid">
							<table>
								<thead>
									<tr>
										<th style="width: 15%;">序号</th>
										<th style="width: 25%;">配件编号</th>
										<th style="width: 25%;">配件名称</th>
										<th style="width: 35%;">备注</th>
									</tr>
								</thead>
								<tbody>
										{{#olds}}
										<tr>
											<td>{{rowNumber}}</td>
											<td>{{partNo}}</td>
											<td>{{partName}}</td>
											<td>{{note}}</td>
										</tr>
										{{/olds}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="new">
					<div class="info">
						<ul class="clearfix">
							<li><span class="label">新替换组编码：</span><span class="text">{{newCode}}</span></li>
							<li><span class="label">新替换组描述：</span><span class="text">{{newDesc}}</span></li>
							<li><span class="label">断点信息：</span><span class="text">{{breakPointNote}}</span></li>
							<li><span class="label">备注：</span><span class="text">{{note}}</span></li>
						</ul>
					</div>
					<div class="mask"><span class="text">旧件配件信息</span></div>
					<div class="gird-wrap">
						<div class="grid">
							<table>
								<thead>
									<tr>
										<th style="width: 15%;">序号</th>
										<th style="width: 25%;">配件编号</th>
										<th style="width: 25%;">配件名称</th>
										<th style="width: 35%;">备注</th>
									</tr>
								</thead>
								<tbody>
										{{#news}}
										<tr>
											<td>{{rowNumber}}</td>
											<td>{{partNo}}</td>
											<td>{{partName}}</td>
											<td>{{note}}</td>
										</tr>
										{{/news}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			{{/record}}
		</script>

	</div>
</div>