	<div class="layer user-info-layer" id="user-info-dialog">
		<div class="layer-title">
			<span class="page-title"><span class="text">用户信息</span></span>
			<a class="layer-close-btn" href="javascript:;"></a>
		</div>
		<div class="layer-cont-wrapper">
			<div class="data-item">
				<span class="label"><span class="text">用户名：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">姓名：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">联系电话：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">维修站编码：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">维修站名称：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
			<div class="data-item">
				<span class="label"><span class="text">维修站地址：</span></span>
				<span class="text-block">sunhaiyan</span>
			</div>
		</div>
	</div>