<%  
    viewBag.pageCode = 'test';
    viewBag.cssFiles = [];
    viewBag.releaseCss = '';
%>

<% include ../common/header.ejs %>

    <!--begin body-->
    <h2>测试页面</h2>
    <form action="test/upload" method="post" enctype="multipart/form-data">
        <div>
            <div>
                <input type="file" name="f1" />
                <input type="file" name="f2" />
            </div>

            <input type="submit" value="上传" >
        </div>
    </form>
 
 <!--end body-->
 <% include ../common/footer.ejs %>
