<div class="page-crumbs" id="crumbs">
    <script type="text/template">
      <ul class="list">
        {{#records}}
        <li class="item">
          <span class="label">{{label}}：</span>
          <a href="javascript:;" data-type="{{type}}" data-code="{{code}}" data-url="{{url}}" class="text-link2">{{text}}</a>
        </li>
        {{/records}}
      </ul>
    </script>
</div>