<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
  <title><%= pageTitle %></title>

  <% if (viewBag.isLocal) { %>
    <link type="text/css" rel="stylesheet" href="/styles/frame.css" />
    <link type="text/css" rel="stylesheet" href="/styles/common.css" />
    <link type="text/css" rel="stylesheet" href="/styles/header.css" />
    <link type="text/css" rel="stylesheet" href="/styles/navigation.css" />
    <link type="text/css" rel="stylesheet" href="/styles/layer.css" />
    <link type="text/css" rel="stylesheet" href="/styles/grid.css" />
    <% viewBag.cssFiles.forEach(function (name) { %>
      <link type="text/css" rel="stylesheet" href="/styles/<%= name %>.css" />
    <% }) %>
  <% } else { %>
    <link type="text/css" rel="stylesheet" href="/release/styles/frame.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/common.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/header.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/navigation.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/layer.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/grid.min.css" />
    <link type="text/css" rel="stylesheet" href="/release/styles/<%= viewBag.releaseCss %>.css" />'
  <% } %>

  <% include ../config/globalConfig.ejs %>
  <% include ../config/requirejsConfig.ejs %>
</head>
<body>
  <!-- navigation -->
  <div class="page-navigation clearfix" id="page-navigation">
    <div class="nav-info">
      <a href="javascript:;" class="text-link">username</a>
      <span class="text">您好！欢迎登陆EPC电子配件目录管理系统！</span>
    </div>
    <div class="nav-list-wrap">
      <ul class="nav-list">
        <li class="nav-list-item"><a href="../catalog" class="text-link2">首页</a></li>
        <li class="nav-list-item"><a data-action="shopping-cart" href="javascript:;" class="text-link2">购物车</a></li>
        <li class="nav-list-item"><a data-action="notice" href="javascript:;" class="text-link2">通知</a></li>
        <li class="nav-list-item"><a href="../pac/online" target="_blank" class="text-link2">在线咨询</a></li>
        <li class="nav-list-item"><a href="../pac/survey" target="_blank" class="text-link2">问卷调查</a></li>
        <li class="nav-list-item nav-lang">
            <a href="javascript:;" class="text-link2">语言<span class="arrow"></span></a>
            <div class="nav-item-layer">
                <ul class="nav-layer-list">
                  <li data-action="cn"><a href="javascript:;">中文</a></li>
                  <li data-action="en"><a href="javascript:;">英文</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-list-item"><a href="<%= viewBag.epcmPath %>" target="_blank" class="text-link2">管理中心</a></li>
        <li class="nav-list-item nav-user-info">
            <a data-action="userinfo" href="javascript:;" class="text-link2">用户信息<span class="arrow"></span></a>
            <div class="nav-item-layer">
                <ul class="nav-layer-list">
                  <li data-action="user-info"><a href="javascript:;">用户信息</a></li>
                  <li data-action="modify-password"><a href="javascript:;">修改密码</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-list-item nav-help">
            <a data-action="help" href="javascript:;" class="text-link2">帮助中心<span class="arrow"></span></a>
            <div class="nav-item-layer">
                <ul class="nav-layer-list">
                  <li><a href="javascript:;">EPC操作手册</a></li>
                  <li><a href="javascript:;">联系客服</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-list-item"><a href="javascript:;" class="text-link2">进入DMS系统</a></li>
        <li class="nav-list-item"><a href="javascript:;" class="text-link2">退出</a></li>
      </ul>
    </div>
  </div>
  <!-- navigation end -->

  <!-- header -->
  <div class="page-header clearfix" id="page-header">
    <a href="../catalog" class="logo"></a>
    <div class="search-box">
        <span class="form-select" id="header-search-select">
          <input class="form-select-input" type="hidden" value="vin" data-field="value" autocomplete="off">
          <a class="form-select-switch-btn" href="javascript:;"><span class="form-select-text" title="">VIN解析</span></a>
          <ul class="form-select-option-list" style="display: none;">
            <li class="form-select-option" title="VIN解析" data-value="vin">VIN解析</li>
            <li class="form-select-option" title="零件号" data-value="part-no">配件件号</li>
            <li class="form-select-option" title="零件名称" data-value="part-name">配件名称</li>
            <li class="form-select-option" title="整车代码" data-value="vehicle-code">整车编码</li>
          </ul>
        </span>
        <input type="search" id="header-search-box" class="search-input" />
        <a href="javascript:;" id="header-search-close" class="search-close"></a>
        <a href="javascript:;" id="header-search-btn" class="search-btn">搜索</a>
        <div id="header-autocomplete" class="header-autocomplete">
            <ul class="list" id="header-autocomplete-list">
              <script type="text/template">
              {{#list}}
                <li data-value="{{vinNo}}" title="{{vinNo}}">{{vinNo}}</li>
              {{/list}}
              </script>
            </ul>
        </div>
    </div>
    <div class="other-search">
      <ul class="other-search-list">
        <li class="item"><a href="javascript:;" data-action="advanced-search" class="text-link2">高级搜索</a></li>
        <li class="item"><a href="javascript:;" data-action="supersession-search" class="text-link2">替换搜索</a></li>
      </ul>
    </div>
  </div>
  <!-- header end -->
  
  <% include ../dialog/advanced_search.ejs %>
  <% include ../dialog/modify_password.ejs %>
  <% include ../dialog/notice.ejs %>
  <% include ../dialog/supersession_search.ejs %>
  <% include ../dialog/userinfo.ejs %>
  <% include ../dialog/vin_analysis.ejs %>
  <% include ../dialog/vehicle_code.ejs %>
  <% include ../dialog/supersession_detail.ejs %>